/* Navstyle.css */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333; /* Set your desired background color */
  padding: 10px 20px;
  position: sticky; /* Make the navigation sticky */
  top: 0; /* Stick it to the top of the viewport */
  z-index: 100; /* Ensure the navigation stays above other content */
}

.logo {
  padding: 10px;
}

.navigation-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
}

.logo-image {
  margin: 10px 0;
  width: 150px;
  height: 70px;
}

.nav-link {
  color: #ecf0f1;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  font-weight: bold;
  transition: color 0.3s;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  color: #e74c3c;
}
