/* NavigationLinks.css */

.navigation {
  background-color: #2980b9;
  height: 75px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 1;
}

.logo-image {
  margin: 10px 0;
  width: 150px;
  height: 70px;
}

.navigation-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #ecf0f1;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #e74c3c;
}
